/* --------------------------------------- les polices disponibles ---------------------------------------*/

@font-face {
    font-family: Baloo;
    src: url("../polices/Baloo/Baloo-Regular.ttf") format('truetype');
}

@font-face {
    font-family: Action-Man;
    src: url("../polices/Action-Man/Action_Man.ttf") format('truetype');
}

/* --------------------------------------- css du body et jeu ---------------------------------------*/

body {
    background: url("../images/background-game.gif") no-repeat fixed top left;
    background-size: 100% 100%;
    position: relative;
}

.jeu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.4);
}

.fin-partie {
    background-color: rgba(0, 0, 0, 0.7);
}

h1 {
    font-family: Action-Man, 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.7em;
    font-weight: bold;
    display: table;
    margin: auto;
    color: rgb(218, 165, 32);
    text-shadow: 3px 4px black;
    padding: 20px;
}

/* --------------------------------------- css du terrain --------------------------------------- */

.jeu section {
    width: 69.5%;
    border: 2px solid rgba(53, 157, 147, 0.6);
}

.jeu section h1 {
    text-shadow: 3px 3px 3px rgba(49, 7, 104, 0.9);
}

.terrain {
    height: 540px;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* ------- css de cartes ------- */

.flip-container {
    perspective: 1000px;
}

.flip-container.flipped .flipper {
    transform: rotateY(180deg);
}

.flip-container.identique .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 100px;
    height: 130px;
    margin-right: calc((100% - 400px) / 4);
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front:hover {
    box-shadow: 4px 4px 6px rgba(49, 7, 104, 0.9);
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
    box-shadow: 1px 1px 4px rgba(49, 7, 104, 0.9);
}

.back {
    transform: rotateY(180deg);
    box-shadow: 1px 1px 4px rgba(49, 7, 104, 0.9);
}

/* --------------------------------------- css du menu ---------------------------------------*/

.jeu nav {
    width: 30%;
    border: 2px solid rgba(53, 157, 147, 0.6);
    background-color: rgba(49, 7, 104, 0.4);
}

.menu {
    max-height: 80%;
    display: table;
    margin: auto;
    text-align: center;
}

nav .menu button, nav .menu div {
    margin-top: 40px;
}

nav .menu button {
    font-family: Baloo, 'Times New Roman', Times, serif;
    width: 100px;
    height: 50px;
    background-color: rgba(41, 72, 92, 0.9);
    color: rgb(218, 165, 32);
    border: 1px solid rgba(49, 7, 104, 1);
    border-radius: 10px;
    box-shadow: 3px 3px 4px rgba(49, 7, 104, 0.9);
    outline-style: none;
}

nav .menu button:hover {
    box-shadow: 2px 2px 3px rgba(49, 7, 104, 0.9);
}

nav .menu label {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
    color: #359d93;
    text-shadow: 1px 1px 2px blueviolet;
}

nav .menu input {
    width: 50%;
    height: 25px;
    margin-top: 5px;
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0.5px solid rgba(0, 0, 0, 0.7);
    box-shadow: 1px 1px 2px black;
    color: blueviolet;
    text-align: center;
}

nav .menu div#son img {
    width: 30px;
    height: 30px;
}

/* --------------------------------------- css du message de felicitation --------------------------------------- */

.felicitation {
    display: none;
    background-color: rgba(0, 0, 0, 0.95);
    position: absolute;
    left: calc(100% / 4);
    width: calc(100% /2);
    top: calc(100% / 4);
    height: calc(100% / 2);
    box-shadow: 2px 5px 5px black;
}

.afficher-felicitation {
    display: block;
}

h1.titre-felicitation {
    font-size: 3em;
    font-weight: bold;
    display: table;
    margin: auto;
    color: rgb(218, 165, 32);
    text-shadow: 1px 2px black;
    padding: 20px;
}

h2.message-felicitation {
    font-size: 1.5em;
    font-family: Verdana, Tahoma, sans-serif;
    color: sandybrown;
    display: table;
    margin: auto;
    text-align: center;
}

h2.message-felicitation .temps-fin {
    display: block;
    margin-top: 30px;
}